<div class="l-profile-playlists">
    <div class="l-profile-playlist-image" >
        <img class="m-profile-playlist-image" id="profile-playlist-image" src="{{ image }}"  alt=""/>
    </div>
    <div>
        <button class="m-profile-button-play-playlist"></button>
    </div>

    <div class="l-profile-playlists-description">{{ name }}</div>
</div>
{#<div class="l-profile-playlists">#}
{#    <div class="l-profile-playlist-image" >#}
{#        <img class="m-profile-playlist-image" id="profile-playlist-image" src="{{ image }}"  alt=""/>#}
{#    </div>#}
{#    <div>#}
{#        <button class="m-profile-button-play-playlist"></button>#}
{#    </div>#}

{#    <div class="l-profile-playlists-description">{{ name }}</div>#}
{#</div>#}