<div class="l-profile-playlists">
    <div class="l-profile-playlist-image" >
        <img class="m-profile-playlist-image" id="profile-playlist-image" src="{{ image }}"  alt=""/>
    </div>
    <div>
        <button class="m-profile-button-play-playlist"></button>
    </div>

    <div class="l-profile-playlists-description">{{ name }}</div>
</div>
{#<div class="l-profile-albums">#}

{#    <div class="row deeping">#}
{#        <div class="col col-2">#}
{#            <div class="deeping-list-item-selected">#}
{#                <img src="../static/img/avatar/default.png" alt="" height="150" width="150">#}
{#                <div class="deeping-list-item-name-selected">#}
{#                    New empire vol. 1#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            <div class="deeping-list-item">#}
{#                <img src="../static/img/avatar/default.png" alt="" height="120" width="120">#}
{#                <div class="deeping-list-item-name">#}
{#                    New empire vol. 1#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            <div class="deeping-list-item">#}
{#                <img src="../static/img/avatar/default.png" alt="" height="120" width="120">#}
{#                <div class="deeping-list-item-name">#}
{#                    New empire vol. 1#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            1#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Time Bomb#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            3:37#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            2#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Heart Of A Champion#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            3:30#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            3#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Already Dead#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            3:56#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            4#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Empire#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            3:59#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="row track">#}
{#        <div class="col col-1">#}
{#            5#}
{#        </div>#}
{#        <div class="col col-2">#}
{#            Killin It#}
{#        </div>#}
{#        <div class="col col-1">#}
{#            2:55#}
{#        </div>#}
{#        <div class="col col-8"></div>#}
{#    </div>#}
{#    <div class="selection-card">#}
{#    </div>#}
{#</div>#}