{#<div class="l-profile-playlists">#}
{#    <div class="l-profile-playlist-image" >#}
{#        <img class="m-profile-playlist-image" id="profile-playlist-image" src="{{ image }}"  alt=""/>#}
{#    </div>#}
{#    <div>#}
{#        <button class="m-profile-button-play-playlist"></button>#}
{#    </div>#}

{#    <div class="l-profile-playlists-description">{{ name }}</div>#}
{#</div>#}
<div class="l-profile-track">
    <div class="m-profile-track" style="text-align: start">
        <div class="l-profile-track-image" >
            <img class="m-profile-track-image" id="profile-track-image" src="{{ image }}"  alt=""/>
        </div>
        <div>
            <button class="m-profile-button-play"></button>
        </div>
        <div class="m-profile-track-name">
            <span >{{ artist }}</span><span> • </span><span>{{ name }}</span>
        </div>
    </div>
</div>
<div class="small_line"></div>