// layout
@import "../modules/_variables";

.l-card {
  border-radius: $card-border-small;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 1em;
}

.l-top-card {
  overflow: hidden;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: $card-border;
}

.l-down-card {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: $card-border;
  margin-top: 16px;
  padding: 16px;
}

.l-top-titles {
  margin-top: 80px;
}

.l-top-info{

}

.l-top-name {
  //margin-left: 32px;
  padding-top: 100px;
  text-align: left;
}

.m-top-login {
  color: #070025;
  font-size: 30px;
  word-wrap: break-word;
}

.l-form {
  width: 380px;
  margin: 32px auto;
  padding: 48px 32px 32px 32px;
  background: #fafafa;
  border: 1px solid #ebebeb;
}

.l-center-pos {
  left: 40%;
}

.l-main {
  margin-left: 3em;
}

.l-track-list {
  border-radius: $card-border;
}

.l-list-card-description {
  display: block;
  color: #515151;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-left: 6px;
  padding-right: 6px;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.l-input {
  margin-top: 16px;
}

.l-navbar {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 5%;
  margin-bottom: 2%;
  background: white;
  box-shadow: 0 3px 6px $chosen-icon;
  display: flex;
  align-items: center;
  z-index: 3;
}

.l-navbar a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 480px) {
    .l-player, .l-player-footer {
        position: fixed;
        width: 100%;
        padding: 0 1em;
        transition-duration: 0s, 1s;
    }

    .l-player-footer {
        padding-top: 1em;
    }

    .l-player-footer .current-time,
    .l-player-footer .duration {
        font-size: 0;
    }

    .l-player-footer, .player-trigger-row,
    .player-trigger-arrow-row, .m-mobile-only {
        display: block;
    }

    .trigger-button, .player-trigger,
    .l-track-buttons, .volume-scale,
    .m-desktop-only {
        display: none;
    }

    .l-player .main-col {
        width: 100%;
    }

    .current-time, .duration {
        font-size: 11px;
    }

    .l-player-footer .play-pause {
        position: absolute;
        right: 13px;
        top: 15px;
        z-index: 3;
        height: 35px;
        width: 35px;
    }

    .l-music-bar .track-group-names {
        width: 72%;
        text-align: left;
    }

    .l-player-footer .l-music-bar .track-group-names {
        width: 37%;
    }

    .l-music-bar .track-name {
        width: 100%;
    }

    .shuffle {
        position: absolute;
        top: 29px;
        right: 45px;
    }

    .repeat {
        position: absolute;
        top: 29px;
        right: 22px;
    }

    .volume {
        position: absolute;
        top: 29px;
        right: -1px;
    }

    .track-list .track-group-names {
        width: 82%;
    }

    .track-list .track-name {
        width: 100%;
    }



    .l-navbar-icon {
        opacity: 1;
    }

    .l-navbar-info, .m-login-button,
    .m-signup-button {
        padding: 0;
    }

    .l-navbar-info, .m-signup-button {
        margin: 0;
    }

    .m-signup-button {
        width: 10%;
    }



    .l-small-card {
        margin: 11px;
    }

    .l-navbar .m-search-input {
        width: 0;
        transition-property: width;
        transition-duration: 1s;
    }

    .l-navbar .m-search-input-expanded {
        width: 100%;
    }




    .l-top-name {
        padding-top: 0;
    }

    .l-main {
        margin-left: 1em;
        margin-right: 1em;
    }

    .l-content .col.col-9 {
        width: 100%;
    }

    .l-round-image, .l-top-name {
        width: 100%;
        margin: 0;
    }

    .l-top-name {
        margin-bottom: 2em;
    }

    .m-round-image {
        float: none;
    }

    .m-top-login, .m-top-name {
        text-align: center;
    }

    .mobile-row::before, .mobile-row::after {
      content: " ";
      display: table;
    }

    .mobile-row::after {
      clear: both;
    }

    .l-content .mobile-row .col.col-6 {
        width: 100%;
    }

    .l-top-titles {
        margin-top: 0;
    }

    .l-down-card .col.col-6 {
        width: 100%;
    }

    .l-down-card .m-big-input {
        margin: 1em 0;
    }

    .l-input .col.col-3 {
        width: 100%;
    }

    .m-tracks-amount {
        margin: 1em;
    }

    .is-not-displayed {
        display: none;
    }
}
