// layout
@import "../modules/_variables";

.l-card {
    border-radius: $card-border-small;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 1em;
}

.l-top-card {
    overflow: hidden;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: $card-border;
    background: $overlay-color;
}

.l-down-card {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: $card-border;
    margin-top: 16px;
    background: $overlay-color;
    //padding: 16px;
}

.l-top-titles {
    margin-top: 80px;
}

.l-top-info {

}

.l-top-name {
    padding-top: 100px;
    text-align: left;
}

.m-top-login {
    font-size: 30px;
    word-wrap: break-word;
}

.l-form {
    max-height: -webkit-calc(90% - 60px);
    width: 450px;
    height: max-content;
    position: fixed;
    padding: 48px 32px 32px 32px;
    background: $overlay-color;
    border: 1px solid #ebebeb;
    overflow-y: scroll;
}

.l-center-pos {
    left: 40%;
}

.l-main {
    margin-left: 3em;
}

.l-track-list {
    border-radius: $card-border;
    padding: 8px;
}

.l-list-card-description {
    display: block;
    margin-top: 12px;
    color: $font-color;
    padding-bottom: 20px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.l-input {
    padding: 16px;
    width: -webkit-calc(100%);
}

.l-navbar {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0 5%;
    margin-bottom: -webkit-calc(1% + 10px);
    background: $overlay-color;
    box-shadow: 0 3px 6px $chosen-icon;
    display: flex;
    align-items: center;
    z-index: $top-level;
}

.l-navbar a {
    text-decoration: none;
    color: $font-color;
}

.l-unter-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-color;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.l-footer-patch {
    display: none;
    width: 100%;
    height: 60px;
}

.l-top-content {
    z-index: $top-level;
}
