{% block content %}
    <div class="row">
        <div class="col col-4"></div>
        <div class="col col-4">
            <form class="login-form card" method="post" autocomplete="none">
                <h2>LOG IN</h2>
                <div class="l-login-input-login">
                    <label>
                        Login
                        <input type="text" id="login" required>
                        <div class="error-message-small"></div>
                    </label>
                </div>
                <div class="l-login-input-password">
                    <label>
                        Password
                        <input type="text" id="password" required>
                        <div class="error-message-small"></div>
                    </label>
                </div>
                <div class="col col-6">
                    <!--label>
                        <input type="checkbox" id="remember">
                        Remember
                    </label-->
                </div>
                <button class="button" type="submit" id="submit-login">
                    Go
                </button>
                <div class="error-message" id="global">
                    Login failed
                </div>
            </form>
            <div class="div-center">
                <a class="tiny-ref" href="/signup">
                    No account? Sign up.
                </a>
            </div>
        </div>
        <div class="col col-4"></div>
    </div>
{% endblock %}
