{% block content %}
<div class="row">
    <div class="col col-1"></div>
    <div class="col col-7">
        <form class="login-form" method="post">
            <fieldset>
                <legend>Вход</legend>
                <label>
                    логин/почта
                    <input type="text" id="login" required>
                </label>
                <label>
                    пароль
                    <input type="password" id="password" required>
                </label>
                <div class="col col-6">
                    <label>
                        <input type="checkbox" id="remember">
                        запомнить
                    </label>
                </div>
                <div class="col col-6">
                    <button type="submit" id="submit-login">
                        Войти
                    </button>
                </div>
                <a href="/signup">зарегистрироваться</a>
            </fieldset>
        </form>
    </div>
    <div class="col col-4"></div>
</div>
{% endblock %}
