{% block content %}
<div class="row">
    <div class="profile">
        <div class="col col-1"></div>
        <div class="col col-3">
            <img alt="avatar" src="{{ image }}" class="avatar" id="avatar">
        </div>
        <div class="info col col-4">
            <div class="login row" id="login">
                {{ login }}
            </div>
            <div class="name row">
                <div class="profile-info col col-3">
                    Имя:
                </div>
                <div class="profile-content col col-9"  id="name">
                    {{ name }}
                </div>
            </div>
            <div class="row">
                <div class="profile-info col col-3">
                    e-mail:
                </div>
                <div class="profile-content col col-9"  id="email">
                    {{ email }}
                </div>
            </div>
            <!--div class="accounts row">
                <a href="#" class="col">
                    <img alt="" src="/static/img/vk.jpg" class="outer">
                </a>
                <a href="#" class="col">
                    <img alt="" src="/static/img/ok.png" class="outer">
                </a>
                <a href="#" class="col">
                    <img alt="" src="/static/img/mm.png" class="outer">
                </a>
                <a href="/settings" class="col">
                    <img alt="" src="/static/img/add-24px.svg" class="add-outer">
                </a>
            </div-->
            <div class="row">
                <a href="/settings">
                    Редактировать профиль
                </a>
            </div>
        </div>
        <div class="col col-4"></div>
        </div>
    </div>
</div>
{% endblock %}
