{% block content %}
<div class="row profile">
    <div class="col col-1"></div>
    <div class="col col-3">
        <img alt="avatar" src="{{ image }}" class="avatar" id="avatar-settings">
        <div class="row">
            <input type="file" id="avatar-upload">
            <div class="error-message-small"></div>
        </div>
    </div>
    <div class="info col col-4">
        <div class="login row">
            {{ login }}
        </div>
        <div calss="name row">
            <div class="col col-3">
                <div class="profile-info">
                    Name:
                </div>
            </div>
            <div class="col col-9">
                <input type=text class="profile-content" id="name" value="{{ name }}">
                <div class="error-message-small"></div>
            </div>
        </div>
        <div calss="email row">
            <div class="col col-3">
                <div class="profile-info">
                    e-mail:
                </div>
            </div>
            <div class="col col-9">
                <input type="email" class="profile-content" id="email" value="{{ email }}">
                <div class="error-message-small"></div>
            </div>
        </div>
        <div calss="row">
            <div class="col col-3">
                <div class="profile-info">
                    Password:
                </div>
            </div>
            <div class="col col-9">
                <input type=password class="profile-content" id="newPassword" placeholder="New Password">
                <div class="error-message-small"></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-3"></div>
            <div class="col col-9">
                <input type=password class="profile-content" id="newPasswordConfirm" placeholder="New Password Confirmation">
                <div class="error-message-small"></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-3"></div>
            <div class="col col-9">
                <input type=password class="profile-content" id="password" placeholder="Old password">
                <div class="error-message-small"></div>
            </div>
        </div>
        <!--div class="row">
            <div class="col col-9 accounts-edit">
                <div class="row">
                    <a href="#" class="col col-3">
                        <img alt="avatar" src="/static/img/vk.jpg" class="outer">
                    </a>
                    <div class="col col-9">
                        <input type="url" class="accounts-info" value="vkontacteid">
                    </div>
                </div>
                <div class="row">
                    <a href="#" class ="col col-3">
                        <img alt="avatar" src="/static/img/ok.png" class="outer">
                    </a>
                    <div class="col col-9">
                        <input type="url" class="accounts-info" value="vkontacteid">
                    </div>
                </div>
                <div class="row">
                    <a href="#" class ="col col-3">
                        <img alt="avatar" src="/static/img/mm.png" class="outer">
                    </a>
                    <div class="col col-9">
                        <input type="url" class="accounts-info" value="vkontacteid">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-8">
                        <input type="url" class="accounts-info" value="vkontacteid" id="outer-url">
                    </div>
                    <div class="col col-4">
                        <button type="button" id="add-outer">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div-->
        <div class="row">
            <button type="submit" id="submit-changes">
                Save
            </button>
        </div>
    </div>
    <div class="col col-4"></div>
</div>
{% endblock %}
