{% block content %}
<div class="row profile">
    <div class="col col-1"></div>
    <div class="col col-3">
        <img alt="avatar" src="{{ image }}" class="avatar" id="avatar-settings">
        <form class="row">
            <input type="file" id="avatar-upload">
        </form>
    </div>
    <div class="info col col-4">
        <div class="login row">
            {{ login }}
        </div>
        <div class="name row">
            <div class="col col-3">
                <div class="profile-info">
                    Имя:
                </div>
            </div>
            <div class="col col-9">
                <input type=text class="profile-content" id="name" value="{{ name }}">
            </div>
        </div>
        <div calss="email row">
            <div class="col col-3">
                <div class="profile-info">
                    e-mail:
                </div>
            </div>
            <div class="col col-9">
                <input type="email" class="profile-content" id="email" value="{{ email }}">
            </div>
        </div>
        <div class="row">
            <div class="col col-3">
                <div class="profile-info">
                    Пароль:
                </div>
            </div>
            <div class="col col-9">
                <input type=password class="profile-content" id="newPassword" placeholder="Новый пароль">
            </div>
        </div>
        <div class="row">
            <div class="col col-3"></div>
            <div class="col col-9">
                <input type=password class="profile-content" id="newPasswordConfirm" placeholder="Повторите пароль">
            </div>
        </div>
        <div class="row">
            <div class="col col-3"></div>
            <div class="col col-9">
                <input type=password class="profile-content" id="password" placeholder="Актуальный пароль">
            </div>
        </div>
        <!--div class="row">
            <div class="col col-9 accounts-edit">
                <div class="row">
                    <a href="#" class="col col-3">
                        <img alt="avatar" src="/static/img/vk.jpg" class="outer">
                    </a>
                    <div class="col col-9">
                        <input type="url" class="accounts-info" value="vkontacteid">
                    </div>
                </div>
                <div class="row">
                    <a href="#" class ="col col-3">
                        <img alt="avatar" src="/static/img/ok.png" class="outer">
                    </a>
                    <div class="col col-9">
                        <input type="url" class="accounts-info" value="vkontacteid">
                    </div>
                </div>
                <div class="row">
                    <a href="#" class ="col col-3">
                        <img alt="avatar" src="/static/img/mm.png" class="outer">
                    </a>
                    <div class="col col-9">
                        <input type="url" class="accounts-info" value="vkontacteid">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-8">
                        <input type="url" class="accounts-info" value="vkontacteid" id="outer-url">
                    </div>
                    <div class="col col-4">
                        <button type="button" id="add-outer">
                            Добавить
                        </button>
                    </div>
                </div>
            </div>
        </div-->
        <div class="row">
            <button type="submit" id="submit-register">
                Сохранить
            </button>
        </div>
    </div>
    <div class="col col-4"></div>
</div>
{% endblock %}
