{% extends "base.njk" %}

{% block additional_css %}
<link rel="stylesheet" href="/css/signup.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form class="sign-up-form">
            <h2>Sign up</h2>
            <label>
                Name
                <input class="input-regular" type="text" name="name" value="" placeholder="John Smith" required>
            </label>
            <label>
                Login
                <input class="input-regular" type="text" name="login" value="" placeholder="john99" required>
            </label>
            <h4>Sex:</h4>
            <label class="signup-container">
                Male
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="signup-container">
                Female
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="signup-container">
                Other
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="block">
                Email
                <input class="input-regular" type="email" name="email" value="" placeholder="johnSmith@mail.ru" required>
            </label>
            <label>
                Password
                <input class="input-regular" type="password" name="pass" value="" required>
            </label>
            <label>
                Password Confirmation
                <input class="input-regular" type="password" name="pass-confirm" value="" required>
            </label>
            <button class="button" type="submit">
                <span>
                    Go
                </span>
            </button>
        </form>
        <div class="div-center">
            <a class="tiny-ref" href="/login">
                Already registered? Log in.
            </a>
        </div>
    </div>
</div>
{% endblock %}
