<div class="NATALY-CHANGE-STYLE-NAMING" style="text-align: start">
    <img src="{{ image }}" height="60px" width="60px" alt=""/>
    <span class="headline">{{ artist }}</span><span> • </span><span>{{ name }}</span>
</div>
<div class="small_line"></div>