{% block basic %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/grid.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/player.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/profile.css">
        <link rel="stylesheet" href="/static/css/signup.css">
        <link rel="stylesheet" href="/static/css/login.css">
        <title>No homo</title>
    </head>
    <body>
        <div class="navbar">
            <a href="/" class="logo">
                <img src="/static/img/headphones.png" alt="logo" height="40px" width="40px">
            </a>
            <input type="text" class="search">
            <button type="button" class="search-button">
                <img src="/static/img/search.svg" alt="lupa & pupa" height="20px" width="20px">
            </button>
            <a href="/player">
                player
            </a>
            <a href="/profile">
                profile
            </a>
            <a href="/profile">
                log out
            </a>
            <a href="/signup" class="signup">
                sign up
            </a>
            <a href="/login" class="login">
                log in
            </a>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="/static/js/app.js" type="module"></script>
        <script src="/static/js/nunjucks.js"></script>
    </body>
</html>
{% endblock %}
