{% block basic %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/grid.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/player.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/profile.css">
        <link rel="stylesheet" href="/static/css/signup.css">
        <link rel="stylesheet" href="/static/css/login.css">
        <title>No homo</title>
    </head>
    <body>
        <div class="navbar">
            <a href="/" class="logo">
                <img src="/static/img/library_music.svg" alt="logo" height="40px" width="40px">
            </a>
            <a href="/" class="name">
                <h2>No homomusic</h2>
            </a>
            <input type="text" class="search">
            <img src="/static/img/search.svg" class="search-button" alt="lupa & pupa" height="20px" width="20px">
            <a href="/profile" class="signup" style="display: none;" id="profile-link">
                profile
            </a>
            <button type="button" class="login logout" name="button" style="display: none;" id="logout-button">
                log out
            </button>
            <a href="/signup" class="signup" id="signup-link">
                sign up
            </a>
            <a href="/login" class="login" id="login-link">
                log in
            </a>
        </div>
        <div class="container">
            <div>
            {% block content %}
            {% endblock %}
            </div>
            <div class="main-pos card" style="left: 150%; top: 55px; height: 1000px;">
                <div class="row">
                    <div class="col player-trigger" style="height: 1000px;">
                        <img src="/static/img/play.svg" class="player-trigger-arrow" alt="."
                             height="17" style="visibility: hidden; transform: rotate(180deg); margin-left: -3px;">
                    </div>
                    <div class="col main-col">
                        <div class="row patch"></div>
                        <div class="row music-bar">
                            <div class="col">
                                <a href="/player">
                                    <img src="/static/img/album.svg" height="80px" width="80px" alt="..." id="cover">
                                </a>
                            </div>
                            <div class="col track-group-names">
                                <div class="track-name" id="title">
                                    Kek
                                </div>
                                <a class="group-name" href="/player" id="artist">
                                    Lol
                                </a>
                            </div>
                            <!--a href="/player">
                                <img src="/static/img/add-24px.svg" height="30px" alt="...">
                            </a>
                            <a href="/player">
                                <img src="/static/img/send-24px.svg" height="25px" alt="...">
                            </a-->
                        </div>
                        <div class="container-audio border-bottom">
                            <div class="timeline row">
                                <div class="timeline-back"></div>
                                <div class="timeline-front" style="width: 0;"></div>
                                <div class="current-time col col-6" style="font-size: 0px;">0:00</div>
                                <div class="duration col col-6" style="font-size: 0px;">0:00</div>
                            </div>
                            <div class="control-elements row">
                                <div class="col col-1">
                                    <img src="/static/img/previous.svg" class="player-control-button" id="prev" alt="prev">
                                </div>
                                <div class="col col-1">
                                    <img src="/static/img/play.svg" class="player-control-button play-pause" alt="play/pause">
                                </div>
                                <div class="col col-1">
                                    <img src="/static/img/next.svg" class="player-control-button" id="next" alt="next">
                                </div>
                                <img src="/static/img/shuffle.svg" class="playlist-control-button shuffle" style="opacity: 0.4;" alt="shuffle">
                                <img src="/static/img/repeat.svg" class="playlist-control-button repeat" style="opacity: 0.4;" alt="repeat">
                                <img src="/static/img/volume_up.svg" class="volume"  style="opacity: 0.4;" alt="volume">
                                <div class="volume-scale" style="opacity: 0; top: 58px; visibility: hidden; transition-property: opacity, visibility, top;">
                                    <div class="volume-scale-back"></div>
                                    <div class="volume-scale-front"></div>
                                </div>
                            </div>
                            <audio>
                                <source src="">
                                Your browser does not Support the audio Tag
                            </audio>
                        </div>
                        <div class="track-list" style="top: 0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/app.js" type="module"></script>
        <script src="/static/js/nunjucks.js"></script>
    </body>
</html>
{% endblock %}
