<div class="row">
    <div class="col">
        <div class="track-photo">
            <img src="{{ track.image }}" height="50px" alt="...">
        </div>
    </div>
    <div class="col track-group-names">
        <div class="track-name">
            {{ track.name }}
        </div>
        <a class="group-name" href="/player">
            {{ track.artist }}
        </a>
    </div>
    <div class="col buttons-in-playlist">
        <a href="/player">
            <img src="/static/img/access_time-24px.svg" height="20px" alt="...">
        </a>
    </div>
    <div class="col add-button">
        <a href="/player">
            <img src="/static/img/add-24px.svg" height="25px" alt="...">
        </a>
    </div>
    <div class="col share-button">
        <a href="/player">
            <img src="/static/img/send-24px.svg" height="20px" alt="...">
        </a>
    </div>
    <div class="col delete-button">
        <a href="/player">
            <img src="/static/img/clear-24px.svg" height="20px" alt="...">
        </a>
    </div>
</div>
<div class="top-line"></div>
