/* Цвета */
:root, :root[theme="light"] {
    /* Светлая тема (зелёный) */
    --background-color: white;
    --overlay-color: white;
    --font-color: black;
    --tiny-ref-color: #070025;
    --chosen-icon: #ebeae7;
    --obscure: gray;
    --light-gray: #ebeae7;
    --pop-up-error-color: #FFCCCC;
    --error-color: red;
    --box-shadow: 0 1px 20px 0 #ebeae7;
    --gray-hover: gray;
}

:root[theme="dark"] {
    /* Тёмная тема */
    --background-color: #27292D;
    --overlay-color: #383B40;
    --font-color: #e0e0e0;
    --tiny-ref-color: #e0e0e0;
    --chosen-icon: #1F2023;
    --obscure: #c3c3c3;
    --light-gray: #ebeae7;
    --pop-up-error-color: #da3333;
    --error-color: #da3333;
    --box-shadow: 0 1px 20px 0 #1F2023;
    --gray-hover: #1f2023;

    .l-logo .m-medium-icon,
    .l-navbar .m-small-icon,
    .l-navbar .m-search-icon,
    .m-more-dropdown-button img {
        filter: invert(0.9);
    }
}
