/* Цвета */
:root {
    --selected-elem: #d6ffeb;
    --marker-color: #00e676;
    --button-color: #0ab992;
}

:root, :root[theme="light"] {
    /* Светлая тема */
    --background-color: white;
    --overlay-color: white;
    --font-color: black;
    --tiny-ref-color: #070025;
    --chosen-icon: #ebeae7;
    --obscure: gray;
    --light-gray: #ebeae7;
    --pop-up-color: #d6ffeb;
    --pop-up-error-color: #ffcccc;
    --error-color: red;
    --box-shadow: 0 1px 20px 0 #ebeae7;
    --gray-hover: gray;
}

:root[theme="dark"] {
    /* Тёмная тема */
    --background-color: #27292D;
    --overlay-color: #383b40;
    --font-color: #e0e0e0;
    --tiny-ref-color: #e0e0e0;
    --chosen-icon: #1f2023;
    --obscure: #c3c3c3;
    --light-gray: #ebeae7;
    --pop-up-color: #2d9c66;
    --pop-up-error-color: #da3333;
    --error-color: #da3333;
    --box-shadow: 0 1px 20px 0 #1f2023;
    --gray-hover: #1f2023;

    .l-logo .m-medium-icon,
    .l-navbar .m-small-icon,
    .l-navbar .m-search-icon,
    .m-dropdown-button img,
    .l-track-buttons img,
    .l-player-track-buttons img,
    .m-button-share,
    .m-delete-playlist-button,
    .m-large-like-button,
    .m-theme-selector-container-button,
    .container-audio img,
    .m-close-choose-menu-button,
    .m-subscribe,
    .m-more-button,
    .m-playlist-section-edit-button,
    .m-playlist-delete-button img,
    .m-button-without-size,
    .m-playlist-edit-button,
    .m-playlist-image-upload-button img {
        filter: invert(0.9);
    }

    .l-list-rounded-card:hover,
    .m-dropdown {
        box-shadow: 0 0 0 1px var(--selected-elem);
    }
}
