// Переменные
$card-border: 10px;
$card-border-small: 8px;
$medium-icon-border: 20px;
$box-shadow-hover: 0 0 20px #6b6b6b;
$box-shadow-hard: 0 1px 20px rgba(12, 12, 12, 0.2);
$small-pad: 8px;

$under-level: -1;
$back-level: 0;
$main-level: 1;
$top-level: 2;
$super-top-level: 3;

//Светлая тема (зелёный)
// $selected-elem: #d6ffeb;
// $marker-color: #00e676;
// $background-color: white;
// $overlay-color: white;
// $font-color: black;
// $tiny-ref-color: #070025;
// $button-color: #0ab992;
// $chosen-icon: #ebeae7;
// $obscure: gray;
// $light-gray: #ebeae7;
// $pop-up-error-color: #FFCCCC;
// $error-color: red;
// $box-shadow: 0 1px 20px 0 #ebeae7;

//Тёмная тема (зелёный)
$selected-elem: #2d9c66;
$marker-color: #2d9c66;
$background-color: #27292D;
$overlay-color: #383B40;
$font-color: #e0e0e0;
$tiny-ref-color: #e0e0e0;
$button-color: #2d9c66;
$chosen-icon: #1F2023;
$obscure: #c3c3c3;
$light-gray: #ebeae7;
$pop-up-error-color: #da3333;
$error-color: #da3333;
$box-shadow: 0 1px 20px 0 #1F2023;

.l-logo .m-medium-icon,
.l-navbar .m-small-icon,
.l-navbar .m-search-icon,
.m-more-dropdown-button img {
    filter: invert(0.9);
}
