// Переменные
$card-border: 10px;
$card-border-small: 8px;
$medium-icon-border: 20px;
$selected-elem: #d6ffeb;

$button-color: #499181;
$chosen-icon: #ebeae7;
$obscure: gray;
$box-shadow: 0 1px 20px 0 #ebeae7;
$box-shadow-hard: 0 1px 40px rgba(12, 12, 12, 0.2);
$small-pad: 8px;
