@import "modules/_colors.css";
@import "modules/_variables.css";
@import "modules/_all.css";
@import "partials/_base.css";
@import "partials/_buttons.css";
@import "partials/_grids.css";
@import "partials/_images.css";
@import "partials/_player.css";
@import "partials/_reset.css";
@import "partials/_states.css";
@import "layout/_layout.css";
@import "layout/_mobile_layout.css";
@import "../fonts/fonts.css";

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
    }
}

.paNqSg, .G2Vk3A, .NYcNWw {
    display: none;
    z-index: var(--under-level);
    pointer-events: none;
}

.paNqSg {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50%;
    transform: scale(-1, 1);
}

.G2Vk3A {
    position: fixed;
    top: 60px;
    right: 0;
    height: 76%;
    transform: scale(1, -1);
}

.NYcNWw {
    position: absolute;
    top: -163px;
    width: 100%;
    transform: rotate(45deg);
}
