.l-top-section-info .col {
    padding-top: 16px;
}

.l-top-section-info:hover {
    background: var(--selected-elem);
    /*border-radius: 5px;*/
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.1);
}
/**/
.l-small-card {
    margin: 32px;
}