/*ok*/
.is-emphasized{
    position: fixed;
    box-shadow: black;
}
/*ok*/
.is-un-emphasized {
    transition: .6s filter;
    filter: blur(3px) contrast(.8)
    brightness(0.8);
    pointer-events: none;
}
/*ok*/
.l-center-pos {
    left: 40%;
}


/*#m-dropdown {*/
/*    position: relative; !* (!) *!*/
/*    !*z-index: 3;*!*/
/*    width: 300px;*/
/*    height: 20px;*/
/*    margin: 0 auto;*/
/*}*/

/*#m-dropdown li.list {*/
/*    float: left; !* (!) *!*/
/*    display: block; !* (!) *!*/
/*    margin: 0 5px;*/

/*}*/

/*#m-dropdown ul.child {*/
/*    left: auto; !* (!) *!*/
/*    background: #463935;*/
/*    padding: 5px;*/
/*    !*position: absolute; !* (!) *!*!*/
/*    !*top: 29px; !* (!) *!*!*/
/*    !*left: -9999px; !* (!) *!*!*/
/*    !*z-index: 3;*!*/
/*    position: fixed;*/
/*    right: 5px;*/
/*    top: 80%;*/
/*    width:347px;*/
/*    height:160px;*/
/*    display: block;*/
/*    z-index:99999999;*/
/*}*/

/*#m-dropdown li:hover ul.child {*/
/*}*/