* {
    box-sizing: border-box;
}

.l-container {
    width: 90%;
    margin: 0 auto;
}

.col {
    float: left;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    height: 100%;
}

.l-player .col {
    float: left;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    height: 100%;
}

.container .col.col-1 {
    width: 8.333333333%;
}
.container .col.col-2 {
    width: 16.666666667%;
}
.container .col.col-3 {
    width: 25%;
}
.container .col.col-4 {
    width: 33.333333333%;
}
.container .col.col-5 {
    width: 41.666666667%;
}
.container .col.col-6 {
    width: 50%;
}
.container .col.col-7 {
    width: 58.333333333%;
}
.container .col.col-8 {
    width: 66.666666667%;
}
.container .col.col-9 {
    width: 75%;
}
.container .col.col-10 {
    width: 83.333333333%;
}
.container .col.col-11 {
    width: 91.666666667%;
}
.container .col.col-12 {
    width: 100%;
}

.container::before, .container::after,
.row::before, .row::after {
    content: " ";
    display: table;
}

.row::after {
    clear: both;
}

@media screen and (max-width: 400px) {
    .container .col.col-1,
    .container .col.col-2,
    .container .col.col-3,
    .container .col.col-4,
    .container .col.col-5,
    .container .col.col-6,
    .container .col.col-7,
    .container .col.col-8,
    .container .col.col-9,
    .container .col.col-10,
    .container .col.col-11,
    .container .col.col-12 {
        width: 100%;
    }
}

.l-l-content {
    width: 90%;
    margin: 0 auto;
}

.col {
    float: left;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    height: 100%;
}

.l-player .col {
    float: left;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    height: 100%;
}

.l-content .col.col-1 {
    width: 8.333333333%;
}
.l-content .col.col-2 {
    width: 16.666666667%;
}
.l-content .col.col-3 {
    width: 25%;
}
.l-content .col.col-4 {
    width: 33.333333333%;
}
.l-content .col.col-5 {
    width: 41.666666667%;
}
.l-content .col.col-6 {
    width: 50%;
}
.l-content .col.col-7 {
    width: 58.333333333%;
}
.l-content .col.col-8 {
    width: 66.666666667%;
}
.l-content .col.col-9 {
    width: 75%;
}
.l-content .col.col-10 {
    width: 83.333333333%;
}
.l-content .col.col-11 {
    width: 91.666666667%;
}
.l-content .col.col-12 {
    width: 100%;
}

.l-content::before, .l-content::after,
.row::before, .row::after {
    content: " ";
    display: table;
}

.row::after {
    clear: both;
}

@media screen and (max-width: 400px) {
    .l-content .col.col-1,
    .l-content .col.col-2,
    .l-content .col.col-3,
    .l-content .col.col-4,
    .l-content .col.col-5,
    .l-content .col.col-6,
    .l-content .col.col-7,
    .l-content .col.col-8,
    .l-content .col.col-9,
    .l-content .col.col-10,
    .l-content .col.col-11,
    .l-content .col.col-12 {
        width: 100%;
    }
}
