/**/
input {
    margin-left: 2%;
    margin-right: 0.5%;
    outline: none;
    height: 2em;
    padding: 0 1%;
}
/**/
input[type="checkbox"] {
    margin: 0;
    height: 13px;
}

/*ok*/
.m-login-input{
    margin-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
}