.login-form input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

input {
    margin-left: 2%;
    margin-right: 0.5%;
    outline: none;
    height: 2em;
    padding: 0 1%;
}

input[type="checkbox"] {
    margin: 0;
    height: 13px;
}

.login-input {
    text-align: right;
}

.error-message {
    height: 0;
    visibility: hidden;
    color: red;
}
