.l-navbar {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0 5%;
    margin-bottom: 2%;
    background: white;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 2;
}

.logo {
    height: 3%;
    width: 3%;
    margin: 5px 0;
}

.login {
    margin-left: 0.5%;
}

.signup {
    margin-left: auto;
}

.signup img {
    border-radius: 20px;
}

.search {
    margin-left: 2%;
    margin-right: 0.5%;
    height: 2em;
}

.search-button {
    border-radius: 0.33em;
    background: white;
    outline: none;
    height: 2em;
}