/**/
.l-navbar {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0 5%;
    margin-bottom: 2%;
    background: white;
    box-shadow: 0 3px 6px var(--chosen-icon);
    display: flex;
    align-items: center;
    z-index: 3;
}
/**/
.l-navbar a {
    text-decoration: none;
    color: black;
}
/**/
.m-project-name {
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 23px;
}
/**/
.m-login-button {
    height: 60px;
    width: 6%;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}
/**/
.m-login-button:hover {
    background: var(--chosen-icon);
}

/*ok*/
.l-navbar-info {
    height: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3px;
}
/**/
.l-navbar-info:hover {
    background: var(--chosen-icon);
}
/**/
.m-signup-button {
    height: 55px;
    width: 6%;
    padding-top: 16px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
}
/**/
.m-signup-button:hover {
    background: var(--chosen-icon);
}
/*ok*/
.l-navbar .m-search-input {
    box-shadow: var(--box-shadow);
    margin-left: 2%;
    height: 2.3em;
    width: 20em;
    border: 1px solid var(--chosen-icon);
}
/*ok*/
.m-search-button {
    position: relative;
    box-shadow: var(--box-shadow);
    opacity: 0.4;
    cursor: pointer;
}
/*ok*/
.m-search-button:hover {
    opacity: 1;
}
/*ok*/
.m-medium-icon {
    height: 40px;
    width: 40px;
}
/**/
.m-small-icon {
    height: 20px;
    width: 20px;
}
/**/
.m-navbar-avatar {
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 20px;
}
/**/
.m-navbar-name {
    padding: 8px;
    position: relative;
    top: 8px;
}
/**/
.l-settings-icon {
    opacity: 0.6;
    padding: 20px 8px 16px 8px;
}
/**/
.l-settings-icon:hover {
    opacity: 1;
    background: var(--chosen-icon);
}