.l-player {
    height: 1000px;
    width: 400px;
    position: fixed;
    top: 55px;
    left: 150%;
    z-index: 1;
    padding-left: 0;
    padding-top: 0;
    transition-property: left;
    transition-duration: 0.75s;
    overflow: hidden;
    background: white;
}

.l-player .col {
    text-align: left;
}

.l-player .main-col {
    width: 361px;
}

.patch {
    height: 1em;
    background: white;
    position: relative;
    z-index: 1;
}

.l-music-bar {
    background: white;
    position: relative;
    z-index: 1;
}

.l-music-bar .col {
    height: 80px;
}

.l-music-bar .track-group-names {
    padding-left: 7px;
    padding-top: 0;
}

.l-music-bar .add-to-playlist-button {
    margin-left: 159px;
}

.l-music-bar .share-button {
    padding-top: 1.5px;
}

.container-audio {
    height: auto;
    color: #444;
    background: white;
    position: relative;
    z-index: 1;
}

.timeline .timeline-back {
    width: 100%;
    height: 7px;
    background: #ebeae7;
    cursor: pointer;
}

.timeline .timeline-front {
    position: relative;
    top: -7px;
    height: 7px;
    background: black;
    cursor: pointer;
}

.timeline .current-time {
    transition-property: font-size;
    transition-duration: 0.3s;
    font-size: 0;
}

.timeline .duration {
    text-align: right;
    transition-property: font-size;
    transition-duration: 0.3s;
    font-size: 0;
}

.player-control-button {
    opacity: 0.4;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.player-control-button:hover {
    opacity: 1;
}

.volume,
.playlist-control-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.shuffle {
    position: relative;
    top: 5px;
    left: 207px;
}

.repeat {
    position: relative;
    top: 5px;
    left: 205px;
}

.volume {
    position: relative;
    top: 5px;
    left: 203px;
    z-index: 2;
}

.volume-scale {
    height: 74px;
    top: -53px;
    left: 340px;
    background: white;
    border: 1px solid #ebeae7;
    border-radius: 2px;
    position: absolute;
    padding: 5px;
    width: 25px;
    text-align: center;
    margin-bottom: 10px;
    transition-duration: 0.3s;
}

.volume-scale:after,
.volume-scale:before {
    content: '';
    border: solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 72px;
    width: 0;
}

.volume-scale:before {
    border-top-color: #ebeae7;
    border-width: 8px;
}

.volume-scale:after {
    border-top-color: white;
    border-width: 6px;
    margin-left: -6px;
}

.volume-scale-back {
    height: 60px;
    width: 5px;
    background: #ebeae7;
    position: relative;
    left: 4px;
    cursor: pointer;
}

.volume-scale-front {
    width: 5px;
    background: black;
    position: relative;
    left: 4px;
    cursor: pointer;
}

.track-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.l-music-bar .track-name {
    font-size: 19px;
    width: 274px;
}

.group-name {
    font-weight: bold;
}

.track-list {
    position: relative;
    z-index: 0;
}

.current-marker {
    background: #00e676;
    width: 5px;
    position: absolute;
    transition-property: height, top;
    transition-duration: 0.25s;
}

.track-buttons {
    position: absolute;
    left: 341px;
}

.track-button {
    opacity: 0;
}

.track-list > .row {
    background: white;
    cursor: pointer;
    padding-bottom: 17px;
    padding-top: 5px;
    transition-property: margin;
    transition-duration: 0.1s;
}

.track-list > .row:hover {
    background: var(--light-green);
}

.track-list .row {
    cursor: pointer;
}

.track-list .track-group-names {
    padding-left: 8px;
    height: 54px;
}

.track-list .track-name {
    font-size: 18px;
    width: 300px;
}

.track-list .group-name {
    font-size: 12px;
}

.track-list .col {
    height: 38px;
    margin-bottom: 0;
}

.track-photo {
    padding-left: 5px;
}

.border-bottom {
    border-bottom: 1px solid #ebeae7;
}

.top-line {
    border-top: 1px solid #ebeae7;
    margin-top: 16px;
}

.track-list .top-line {
    margin-top: 0;
    margin-bottom: 5px;
}

.group-name {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.track-list .buttons-in-playlist {
    margin-left: 172px;
    padding-top: 14px;
}

.track-list .share-button {
    padding-top: 13.5px;
}

.share-button {
    padding-bottom: 46px;
}


.add-to-playlist-button {
    padding-left: 150px;
    padding-bottom: 46px;
}

.l-player .player-trigger {
    width: 13px;
    height: 1000px;
    margin-right: 5px;
    background: white;
    cursor: pointer;
}

.l-player .player-trigger:hover {
    background: #ebeae7;
}

.l-player .player-trigger-arrow {
    margin-left: -3px;
    position: relative;
    top: 50%;
}

.small_line {
    border-top: 1px solid #ebeae7;
}
