.profile .info .login {
    font-size: 25px;
    margin: 10px;
    margin-bottom: 20px;
}

.profile-info .col {
    text-align: left;
    color: #ebeae7;
}

.profile-content .col,
.info .profile-info,
.info .profile-content,
.info .col {
    text-align: left;
}

input[class="profile-content"] {
    height: 2em;
}

input[class="accounts-info"] {
    height: 1.5em;
}

.profile .avatar {
    margin: 40px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.accounts .outer {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    object-fit: cover;
    margin: 10px;
}

.accounts .add-outer {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    object-fit: cover;
    margin: 15px 10px;
    opacity: 0.4;
}

.accounts .add-outer:hover {
    opacity: 1;
}

.accounts-edit .col .accounts-info {
    margin-top: 10px;
    text-align: center;
}

.accounts-edit .outer {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    object-fit: cover;
    margin: 10px;
}

.accounts-edit .row .col-9,
.accounts-edit .row .col-7 {
    padding-top: 1em;
}

.accounts-edit button {
    margin-top: 9px;
}
