/**/
hr {
    border: none;
    background-color: #b39ddb;
    color: #b39ddb;
    height: 1px;
    margin: 0;
}
/**/
h2 {
    margin: 0;
}
/**/
p {
    margin: 6px;
}
/*ok*/
.l-main {
    margin-left: 3em;
}

/*ok*/
.l-top-card {
    overflow: hidden;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--card-border);
}
/*ok*/
.l-round-image {
    margin-left: 32px;
    margin-top: 16px;
}
/*ok*/
.m-round-image {
    z-index: 3;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: 16px;
    float: right;
}
/*ok*/
.m-round-image:hover {
    transition: 0.3s;
    box-shadow: 0 0 30px #6b6b6b;
    -webkit-transform: scale(2);
    transform: scale(1.1);
}
/*ok*/
.m-round-image:not(:hover) {
    transition: 0.3s;
    box-shadow: 0 0 10px 4px rgba(129, 129, 129, 0.65);
}
/*ok*/
.l-top-name {
    margin-left: 32px;
    padding-top: 100px;
    text-align: left;
}
/*ok*/
.m-top-login {
    color: #070025;
    font-size: 30px;
    word-wrap: break-word;
}
/*ok*/
.m-top-name {
    color: #5c4b6b;
    font-size: 16px;
    word-wrap: break-word;
}
/*ok*/
.l-top-titles {
    margin-top: 80px;
}
/*ok*/
.m-tiny-ref {
    font-weight: lighter;
    color: #000000;
    text-decoration: none
}
/*ok*/
.l-top-section-info {
    height: 70px;
    padding-top: 16px;
}
/*ok*/
.l-top-section-albums:hover, .l-top-section-tracks:hover, .m-profile-playlists:hover, .l-top-section-artists:hover {
    background: var(--selected-elem);
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.1);
}
/*ok*/
.is-touched-section {
    background: var(--selected-elem);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.1);
}
/*ok*/
.l-playlist-list, .l-artist-list {
    display: block;
    padding: 0;
    list-style: none;
}

/* STYLES FOR TRACKS */
/**/
.l-track-big img {
    float: left;
    margin: 0 15px 0 0;
}
/**/
.l-track-big {
    padding: 10px;
    overflow: hidden;
}
/**/
.l-track-big:hover {
    background: var(--selected-elem);
    cursor: pointer;
}
/**/
.m-track {
    animation-duration: 1s;
    animation-name: slidein;
}
/**/
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        /*width: 100%;*/
    }
}
/**/
.m-track-image {
    height: 60px;
    width: 60px;
    z-index: 2;
    border-radius: 5px;
}
/**/
.l-track-big:hover .m-track-image {
    transition: 0.3s;
    -webkit-transform: scale(2);
    transform: scale(1.2);
    opacity: 0.5;
    box-shadow: 0 0 10px 4px rgba(129, 129, 129, 0.65);
}
/**/
.l-track-big:not(:hover) .m-track-image {
    transition: 0.1s;
}
/**/
.l-track-big:hover .m-button-track-play {
    opacity: 1;
    -webkit-transform: scale(2);
    transform: scale(2);
}
/**/
.m-button-track-play {
    height: 30px;
    width: 30px;
    background: url(../../static/img/play.svg) no-repeat;
    border: yellow;
    cursor: pointer;
    opacity: 0;
    margin-left: -56px;
    margin-top: 20px;
}
/**/
.m-track-name {
    margin-top: -40px;
}

/* STYLES FOR PLAYLISTS */
/**/
.l-list-card img {
    float: left;
    object-fit: cover;
    width: 200px;
    height: 200px;
}
/**/
.l-list-card {
    float: top;
    animation-duration: 1s;
    overflow: hidden;
    margin: 16px;
    display: inline-block;
    width: 90%;
    max-width: 200px;
    max-height: 260px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
/**/
.l-list-card:hover {
    background: #eee;
    cursor: pointer;
    transform: translateY(-0.1rem) scale(1.0125);
    transition: 0.2s;
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
}
/**/
.l-list-card-description {
    display: block;
    color: #515151;
    margin-top: 8px;
    padding-bottom: 32px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
}
/**/
.l-button-play-track {
    height: 200px;
    margin-top: -200px;
}
/**/
.l-list-card:hover .m-button-track-play-playlist {
    opacity: 1;
    -webkit-transform: scale(6);
    transform: translateY(-100px) translateX(-16px) scale(6);
}
/**/
.l-list-card:hover .m-list-image {
    transition: 0.3s;
    opacity: 0.8;
}
/**/
.m-button-track-play-playlist {
    height: 30px;
    width: 30px;
    object-fit: cover;
    background: url(../../static/img/play.svg) no-repeat;
    border: yellow;
    cursor: pointer;
    opacity: 0;
    margin-left: 56px !important;
}
/**/
.l-list-image {
    height: 200px
}