hr {
    border: none;
    background-color: #b39ddb;
    color: #b39ddb;
    height: 1px;
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 6px;
}

.vl {
    border-left: 1px solid #070025;
    height: 200px;
    width: 1px;
}

.l-profile .info {
    font-size: 25px;
    margin: 10px 10px 20px;
}

.l-profile-top {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    padding: 32px;
}

.l-profile-top-image {
    /*background: url(/static/img/background/back-def.png);*/
    /*background-color: #b39ddb;*/
    /*background-size: cover;*/
    background-clip: padding-box;
    border-radius: 6px 6px 0 0;
    height: 220px;
    z-index: 2;
}

.l-profile-top-info {
    margin-top: -240px;
    border-left: #b39ddb;
    border-right: #b39ddb;
}

.l-profile-avatar {
}

.m-profile-avatar {
    z-index: 3;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    float: right;
}

.m-profile-avatar:hover {
    transition: 0.6s;
    box-shadow: 0 0 30px #6b6b6b;
    -webkit-transform: scale(2);
    transform: scale(1.2);
}

.m-profile-avatar:not(:hover) {
    transition: 1s;
    box-shadow: 0 0 10px 4px rgba(129, 129, 129, 0.65);
}

img#avatar {
    margin-top: 50px;
}

#login-name {
    padding-top: 128px;
    margin-left: 16px;
    text-align: left;
}

.m-profile-login {
    color: #070025;
    font-size: 30px;
    word-wrap: break-word;
}

.m-profile-name {
    color: #5c4b6b;
    font-size: 15px;
    word-wrap: break-word;
}

.l-profile-titles .col {
    margin-top: 100px;
    padding-top: 8px;
    /*border-left-style: solid;*/
    /*border-left-width: 1px;*/
    /*border-left-color: #673ab7;*/
}

.l-profile-base {
    z-index: 1;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    padding: 32px;
    margin-top: 16px;
    /*background-color: #ede7f6;*/
    /*border-radius: 0 0 30px 30px;*/
}

.m-profile-settings {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default; /* устанавливаем курсор в виде стрелки */
    color: #000 !important;
    text-decoration: none
}

.m-profile-settings img {
    padding-bottom: 5px;
    vertical-align: middle;
    pointer-events: all;
    cursor: pointer;
}

.m-my-music .m-info .m-settings {
    margin-bottom: 10px;
}

.l-profile-field .col {
    text-align: right;
    color: red;
}

.m-profile-data {
    padding-top: 32px;
}

.m-profile-albums:hover, .m-profile-music:hover, .m-profile-playlists:hover, .m-profile-subscriptions:hover {
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    /*transform: scale(1.1);*/
    box-shadow: 1px 1px #c1c1c1,
    2px 2px #c1c1c1,
    3px 3px #c1c1c1,
    4px 4px #c1c1c1,
    5px 5px #c1c1c1,
    6px 6px #c1c1c1,
    7px 7px #c1c1c1;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.accounts .add-outer {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    object-fit: cover;
    margin: 15px 10px;
    opacity: 0.4;
}

.accounts .add-outer:hover {
    opacity: 1;
}

.deeping {
    position: relative;
    top: 15px;
    left: 0;
    width: 100%;
    height: 0;
    background: silver;
    box-shadow: inset 0 2px 20px -5px black;
    transition-property: height;
    transition-duration: 0.5s;
}

.l-profile-albums {

}

.list-of-tracks {
    list-style-type: none;
    width: inherit;
}

.m-profile-track-name {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.l-profile-track img {
    float: left;
    margin: 0 15px 0 0;
}

.l-profile-track {
    padding: 10px;
    overflow: hidden;
}

.l-profile-track:hover {
    background: #eee;
    cursor: pointer;
}

.m-profile-track{
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        /*width: 100%;*/
    }
}

.m-profile-track-image {
    height: 60px;
    width: 60px;
    z-index: 2;
    border-radius: 5px;
}


.l-profile-track:hover .m-profile-track-image {
    transition: 0.3s;
    -webkit-transform: scale(2);
    transform: scale(1.2);
    opacity: 0.5;
    box-shadow: 0 0 10px 4px rgba(129, 129, 129, 0.65);
}

.l-profile-track:not(:hover) .m-profile-track-image {
    transition: 0.1s;

}

.l-profile-track:hover .m-profile-button-play {
    opacity: 1;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.m-profile-button-play {
    height: 30px;
    width: 30px;
    background: url(../img/play.svg) no-repeat;
    border: yellow;
    cursor: pointer;
    opacity: 0;
    margin-left: -56px;
    margin-top: 20px;

}

.m-profile-track-name {
    margin-top: -40px;
}



