/**/
.m-hidden-input input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none
}

/**/
.m-settings-input {
    background-color: #ede7f6;
    width: 25em;
}
/**/
.l-input {
    margin-top: 16px;
}

input.placeholder {
    background-color: #ede7f6;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: gray;
    text-align: left;
}


/*input.include.placeholder {*/
/*    color: transparent;*/
/*}*/
/**/
.m-hidden-input {
    height: 1px;
    width: 1px;
}
