// Кнопки
@import "../modules/_variables";

.m-submit-button {
  border-radius: 6px;
  margin-left: 213px;
  background-color: $button-color;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 8px;
}

.m-submit-button  {
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
}

.m-button-track-list-play {
  height: 30px;
  width: 30px;
  background: url(../../static/img/play.svg) no-repeat;
  border: yellow;
  cursor: pointer;
  opacity: 0.4;
  margin-top: 96px;
  padding: 20px;
  position: relative;
  margin-left: -140px;
  margin-right: 20px;
  transform: scale(3);
}

.m-button-track-list-play:hover {
  opacity: 1;
  -webkit-transform: scale(3.5);
  transform: scale(3.5);
  transition: 0.3s;
}

.m-button-track-list-play:not(:hover) {
  opacity: 0.4;
  transform: scale(3);
  transition: 0.3s;
}

.m-search-button {
  position: relative;
  box-shadow: $box-shadow;
  opacity: 0.4;
  cursor: pointer;
}

.m-search-button:hover {
  opacity: 1;
}
.m-signup-button {
  height: 55px;
  width: 6%;
  padding-top: 16px;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
}

.m-signup-button:hover {
  background: $chosen-icon;
}

.m-login-button {
  height: 60px;
  width: 6%;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.m-login-button:hover {
  background: $chosen-icon;
}

.l-track-buttons {
  text-align: right;
  float: right;
  margin-top: -16px;
}

.l-big-track-button:hover {
  opacity: 1;
}

.m-delete-playlist-button {
  background-image: url("/static/img/icons/delete_outline-24px.svg");
  display: inline-block;
  background-size: 100%;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
  opacity: 0.8;
}

.m-delete-playlist-button:hover {
  background-image: url("/static/img/icons/delete-24px.svg");
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.3s;
  opacity: 0.8;
}

.m-delete-playlist-button:not(:hover) {
  transition: 0.3s;
}

.l-delete-playlist-button {
  margin-left: -64px;
  margin-top: 16px;
  margin-right: 16px;
  float: right !important;
}
