/* Блочная вёрстка */
@import "../modules/_variables";

* {
    box-sizing: border-box;
}

.col, .col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
    float: left;
    text-align: center;
    height: 100%;
}

.row::before, .row::after {
    content: " ";
    display: table;
}

.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333333%;
}

.col-5 {
    width: 41.666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333%;
}

.col-8 {
    width: 66.666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333333%;
}

.col-11 {
    width: 91.666666667%;
}

.col-12 {
    width: 100%;
}

.l-content::before, .l-content::after,
.row::before, .row::after {
    content: " ";
    display: table;
}

.row::after {
    clear: both;
}
