// изображения
@import "../modules/_variables";

.l-round-image {
    margin: 16px 32px;
}

.m-rounded-image {
    z-index: $main-level;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    float: right;
    box-shadow: $box-shadow-hard;
}

.m-round-image {
    z-index: $main-level;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: 16px;
    float: right;
    box-shadow: $box-shadow-hard;
}

.l-track-big-image {
    padding-left: 32px;
}

.m-scale-image:hover {
    transition: 0.3s;
    box-shadow: 0 0 40px $chosen-icon;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.m-scale-image:not(:hover) {
    transition: 0.3s;
    box-shadow: $box-shadow-hard;
}

.m-search-icon {
    height: 30px;
    width: 30px;
}

.m-medium-icon {
    height: 40px;
    width: 40px;
}

.m-icon-border {
    border-radius: 5px;
}

.l-navbar-icon {
    opacity: 0.6;
    padding: 20px 8px 16px 8px;
}

.l-navbar-icon:hover {
    opacity: 1;
    background: $chosen-icon;
}

.m-small-icon {
    height: 20px;
    width: 20px;
}

.m-track-image {
    height: 50px;
    width: 50px;
    z-index: $main-level;
    border-radius: 5px;
    margin-bottom: 4px;
}
