@import "../modules/_variables";

.l-player {
    height: 1000px;
    width: 400px;
    position: fixed;
    top: 60px;
    left: 150%;
    z-index: var(--main-level);
    padding-left: 0;
    padding-top: 0;
    background: var(--overlay-color);
    border-radius: var(--card-border-small);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.l-player-footer {
    background: var(--overlay-color);
    display: none;
    z-index: var(--main-level);
}

.l-player-visible {
    transition-property: left, top;
    transition-duration: 0.75s;
}

.l-player .col {
    text-align: left;
}

.l-player .main-col,
.l-player .side-col {
    width: 361px;
}

.patch {
    height: 1em;
    background: var(--overlay-color);
    position: relative;
    z-index: var(--main-level);
}

.l-music-bar {
    position: relative;
    z-index: var(--main-level);
}

.l-music-bar .col {
    height: 80px;
}

.l-music-bar .m-track-group-names {
    padding-left: 7px;
    padding-top: 0;
}

.container-audio {
    height: auto;
    padding-top: 16px;
    color: #444;
    background: var(--overlay-color);
    position: relative;
    z-index: var(--main-level);
}

.timeline {
    color: var(--font-color);
}

.timeline .timeline-back {
    width: 100%;
    height: 7px;
    background: var(--chosen-icon);
    cursor: pointer;
}

.timeline .timeline-front {
    position: relative;
    top: -7px;
    height: 7px;
    background: var(--font-color);
    cursor: pointer;
}

.timeline .timeline-toggler {
    height: 18px;
    width: 18px;
    background: var(--font-color);
    border-radius: 9px;
    position: relative;
    top: -19px;
}

.current-time {
    transition-property: font-size;
    transition-duration: 0.3s;
    font-size: 0;
    position: absolute;
    top: 26px;
}

.duration {
    text-align: right;
    transition-property: font-size;
    transition-duration: 0.3s;
    font-size: 0;
    position: absolute;
    top: 26px;
    right: 0;
}

.control-elements {
    margin: 10px 0 6px;
}

.player-control-button {
    text-align: center;
    opacity: 0.4;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.player-control-button:hover {
    opacity: 1;
}

.volume,
.playlist-control-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.shuffle {
    position: relative;
    top: -5px;
    right: -208px;
    opacity: 0.4;
}

.repeat {
    position: relative;
    top: -5px;
    right: -206px;
    opacity: 0.4;
}

.volume {
    position: relative;
    top: -5px;
    right: -204px;
    z-index: var(--top-level);
    opacity: 0.4;
}

.volume-scale {
    height: 74px;
    top: -26px;
    left: 330px;
    background: var(--overlay-color);
    border: 1px solid var(--chosen-icon);
    border-radius: 2px;
    position: absolute;
    padding: 5px;
    width: 25px;
    text-align: center;
    margin-bottom: 10px;
    transition-property: opacity, top;
    transition-duration: 0.3s, 0.3s;
    opacity: 0;
}

.volume-scale:after,
.volume-scale:before {
    content: '';
    border: solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 72px;
    width: 0;
}

.volume-scale:before {
    border-top-color: var(--chosen-icon);
    border-width: 8px;
}

.volume-scale:after {
    border-top-color: var(--overlay-color);
    border-width: 6px;
    margin-left: -6px;
}

.volume-scale-back {
    height: 60px;
    width: 5px;
    background: var(--chosen-icon);
    position: relative;
    left: 4px;
    cursor: pointer;
}

.volume-scale-front {
    width: 5px;
    background: var(--font-color);
    position: relative;
    left: 4px;
    cursor: pointer;
}

.cover {
    width: 80px;
    height: 80px;
    transition-property: width, height;
    transition-duration: 0.4s;
}

.in-footer-cover {
    width: 40px;
    height: 40px;
}

.track-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.l-music-bar .track-name {
    font-size: 19px;
    width: 274px;
}

.group-name {
    font-weight: bold;
}

.track-list {
    position: relative;
    z-index: var(--back-level);
    height: 200px;
    overflow: hidden scroll;
}

.current-marker {
    background: var(--marker-color);
    width: 5px;
    position: absolute;
    transition-property: height, top;
    transition-duration: 0.25s;
}

.track-buttons {
    position: absolute;
    left: 341px;
}

.track-button {
    opacity: 0;
}

.track-list::-webkit-scrollbar {
    width: 4px;
}

.track-list > .row {
    background: var(--overlay-color);
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    transition-property: margin;
    transition-duration: 0.1s;
}

.track-list > .row:hover {
    background: var(--selected-elem);
}

.track-list .row {
    cursor: pointer;
}

.track-list .m-track-group-names {
  padding-left: 8px;
  height: 50px;
  float: left;
}

.track-list .track-name {
    font-size: 18px;
    width: 224px;
}

.track-list .group-name {
    font-size: 12px;
}

.track-list .col {
    height: 50px;
    margin-bottom: 0;
}

.m-track-photo {
  padding-left: 5px;
  float: left;
  height: 50px;
}

.border-bottom {
    border-bottom: 1px solid var(--chosen-icon);
}

.top-line {
    border-top: 1px solid var(--chosen-icon);
    margin-top: 16px;
}

.track-list .top-line {
    margin-top: 0;
    margin-bottom: 5px;
}

.group-name {
    text-decoration: none;
    color: var(--font-color);
    font-size: 15px;
}

.player-trigger {
    position: relative;
    width: 13px;
    height: 1000px;
    margin-right: 5px;
    background: var(--overlay-color);
    cursor: pointer;
}

.player-trigger-arrow {
    margin-top: 6px;
    margin-left: 3px;
    visibility: hidden;
    transform: rotate(180deg);
}

.trigger-button {
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 50%;
    left: -37px;
    width: 40px;
    height: 40px;
    background: var(--overlay-color);
    z-index: var(--under-level);
    cursor: pointer;
}

.trigger-button:hover {
    background: var(--chosen-icon);
}

.player-trigger-row {
    display: none;
    height: 25px;
    background: var(--overlay-color);
    position: relative;
    z-index: var(--main-level);
    width: 108%;
    left: -15px;
}

.player-trigger-arrow-row {
    display: none;
    transform: rotate(90deg);
    position: relative;
    left: 46.5%;
}

.l-player-footer .player-trigger-row {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: var(--top-level);
    background: transparent;
}

.l-player-footer .patch {
    display: none;
}

.l-player-footer .timeline-back,
.l-player-footer .timeline-front {
    position: absolute;
    left: 0;
    top: 0;
}

.drag-patch {
    width: 100%;
    height: 0;
    &.is-active {
        height: 50px;
    }
}
