// ресет стандратрных стилей
@import "../modules/_variables";

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d6ffeb;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6ffeb;
  box-shadow: inset 0 0 2px #6fdfcf;
  border-radius: 10px;
}

body {
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

hr {
  border: none;
  background-color: #b39ddb;
  color: #b39ddb;
  height: 1px;
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 6px;
}

input {
  margin-left: 2%;
  margin-right: 0.5%;
  outline: none;
  height: 2em;
  padding: 0 1%;

}

img {
  object-fit: cover;
}

button,
button:active,
button:focus {
  outline: none;
}