// Состояния
@import "../modules/_variables";

.is-emphasized{
  position: fixed;
  box-shadow: black;
}

.is-un-emphasized {
  transition: .6s filter;
  filter: blur(3px) contrast(.8)
  brightness(0.8);
  pointer-events: none;
}

.is-touched-section {
  background: $selected-elem;
  border-radius: $card-border-small;
  cursor: pointer;
  transition: 0.1s;
  transform: scale(1.1);
}

.is-hidden {
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}

.is-not-displayed {
  display: none;
}

.is-displayed {
  display: block;
}

.is-error {
  border: 1px solid red;
  padding: 32px;
  font-size: 32px;
}

.is-mouse-on {
  background: $chosen-icon;
}

.s-rotate-0 {
    transform: rotate(0);
}

.s-rotate-180 {
    transform: rotate(180);
}

.s-margin-left-5 {
    margin-left: 5px;
}

.s-margin-left-0 {
    margin-left: 0;
}

.s-timline-mouse-over {
    font-size: 11px;
}

.s-timline-mouse-out {
    font-size: 0;
}

.s-opacity-1 {
    opacity: 1;
}

.s-volume-scale-hover {
    top: -52px;
}
