{% extends "templates/base.njk" %}

{% block additional_css %}
<link rel="stylesheet" href="/css/profile.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="profile">
        <div class="col col-1"></div>
        <div class="col col-3">
            <img alt="avatar" src="/img/new_empire_vol1.jpg" class="avatar" id="avatar">
        </div>
        <div class="info col col-4">
            <div class="login row" id="login">
                Митрофанов
            </div>
            <div calss="name row">
                <div class="profile-info col col-3">
                    Имя:
                </div>
                <div class="profile-content col col-9"  id="name">
                    Дмитрий Алексеевич Левен
                </div>
            </div>
            <div calss="row">
                <div class="profile-info col col-3">
                    e-mail:
                </div>
                <div class="profile-content col col-9"  id="email">
                    leven@dima.go
                </div>
            </div>
            <div class="accounts row">
                <a href="#" class="col">
                    <img alt="" src="/img/vk.jpg" class="outer">
                </a>
                <a href="#" class="col">
                    <img alt="" src="/img/ok.png" class="outer">
                </a>
                <a href="#" class="col">
                    <img alt="" src="/img/mm.png" class="outer">
                </a>
                <a href="/settings" class="col">
                    <img alt="" src="/img/add-24px.svg" class="add-outer">
                </a>
            </div>
            <div class="row">
                <a href="/settings">
                    Редактировать профиль
                </a>
            </div>
        </div>
        <div class="col col-4"></div>
        </div>
    </div>
</div>
{% endblock %}
